<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>feelTitle</string>
	<key>Song</key>
	<string>feel.mp3</string>
	<key>Description</key>
	<string>feelDescription</string>
	<key>Congratulations</key>
	<string>feelCongratulations</string>
</dict>
</plist>
