<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>getMotivatedMeditaitonItemTitle</string>
	<key>Song</key>
	<string>getMotivated.mp3</string>
	<key>Description</key>
	<string>getMotivatedMeditationItemDescriptionText</string>
	<key>Congratulations</key>
	<string>getMotivatedMeditationItemCongratulationsText</string>
</dict>
</plist>
