<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Do not take life too seriously. You will never get out of it alive</string>
	<string>I never said most of the things I said</string>
	<string>I&apos;m sorry, if you were right, I&apos;d agree with you</string>
	<string>Get your facts first, then you can distort them as you please</string>
</array>
</plist>
